@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom CSS */
.custom-shape-divider-bottom-1635359785 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1635359785 svg {
    position: relative;
    display: block;
    width: calc(166% + 1.3px);
    height: 365px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1635359785 .shape-fill {
    fill: #4B5563
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1635359785 svg {
        width: calc(166% + 1.3px);
        height: 187px;
    }
}

.custom-shape-divider-bottom-1635360107 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635360107 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 241px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1635360107 .shape-fill {
    fill: #111827;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1635360107 svg {
        width: calc(100% + 1.3px);
        height: 187px;
    }
}